body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.neb,.nebr{
	width:300px;
	margin-top: 15px;
	margin-bottom: 15px;

}
.neb{
	float:left;
	margin-right: 15px;
}
.nebr{
	float:right;
	margin-left: 15px;
}